<% layout('layouts/boilerplate')%>

<h1 class="text-center">Reset Password</h1>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="center-content-index">
    <div style="margin-top: 15px;">
      <div style="margin-bottom: 70px;">
        <form action="/resetpassword" method="post">
          <div style="display: flex; flex-direction: column; margin-top: 20px;">
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
              <label for="username" style="width: 150px; margin-right: 10px;">Username:</label>
              <input id="username" name="username" type="text" autocomplete="username" required autofocus>
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
              <label for="current-password" style="width: 150px; margin-right: 10px;">Current Password:</label>
              <input id="current-password" name="current-password" type="password" autocomplete="current-password" required>
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
              <label for="new-password" style="width: 150px; margin-right: 10px;">New Password:</label>
              <input id="new-password" name="new-password" type="password" autocomplete="new-password" required style="width: 185px;">
            </div>
          </div>
          <div style="margin-top: 10px;">
            <button class="btn btn-primary" type="submit" style="margin-top: 10px;">Change Password</button>
          </div>
        </form>
      </div>
      <div style="margin-top: 20px;">
        <% if (error) { %>
          <p class="error"><%= error %></p>
        <% } %>
        <% if (success) { %>
          <p class="success"><%= success %></p>
        <% } %>
      </div>
    </div>
  </div>
</div>
